body{
    margin: 0%;
    padding: 0%;
    background-color: black ;
    
}

#site{
    width: 1200px;
    margin: 0% auto;
    padding: 0% ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 800px 400px 500px 950px;
}

.siteHeader{

    background-image : url(backgroundGradient2.png);
    background-position-x: 50%;
    background-repeat: no-repeat;
    width: 1200px;
    margin: 0% auto;
    padding: 0% ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 32px auto auto;
}

.head{
    display: grid;
 }

.pavelDiv{
    margin: 0%;
    padding: 0%;
    display: grid;
}
    .Pavel{
        margin: 0%;
        padding: 0%;
    }

.menu{
    margin: 0%;
    padding: 0%;
    display: grid; 
    grid-template-columns: 33% 15% 18% 16% 17%;
}

        .menuWeb{
            height: 40px;
            margin: 0%;
            padding: 0%;
        }
                .web {
                    height: 40px;
                    margin: 0%;
                    padding: 0%;
                    width: 18%;
                }
                .studio{
                    margin: 0% 2px;
                    padding: 0%;

                }
        .main{
            height: 40px;
            display: grid;
            margin: 0%;
            padding: 0%;
        }
                .mainImg{
                    height: 40px;
                    width: 41%;
                    margin: 0%;
                    padding: 0%;
                    align-self: end;
                }
                .mainImg:hover{
                    cursor: pointer;
                }
        .menuButton{
            height: 40px;
            display: grid;
            margin: 0%;
            padding: 0%;
        }
         
                .myProgectsImg {
                    align-self: end;
                    margin: 0%;
                    padding: 0px;
                    width: 58%;
                }
                .myProgectsImg:hover{
                    cursor: pointer;
                }

                .aboutMyselfImg {
                    align-self: end;
                    margin: 0%;
                    padding: 0px;
                    width: 77%;
                }
                .aboutMyselfImg:hover{
                    cursor: pointer;
                }

                .myVideoImg{
                    align-self: end;
                    margin: 0%;
                    padding: 0px;
                    width:  55%;
                }
                .myVideoImg:hover{
                    cursor: pointer;
                }


.block{
    margin-top: 35px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}  
         
         .skils{
             display: grid;
             margin: 0%;
             margin-top: 25px;
             padding: 0%;
         }
            .greenLine{
                display: grid;
                width: 95%;
                border: 2px solid #5CAB00;
                border-radius: 10px;
                height: 0px;
                margin: 0px;
                padding: 0px;
            }  

                .greenLineImg{
                    width: 95%;
                } 

                    .skilsImg{
                        display: grid;
                        margin-top: 25px;
                        width: 95%;
                 }
                  

         .thisSite{
             display: grid;
             margin: 0%;
             margin-top: 25px;
             padding: 0%;
           
         }
                .blueLine{
                    display: grid;
                    width: 95%;
                    border: 2px solid #274c97;
                    border-radius: 10px;
                    height: 0px;
                    margin: 0px;
                    padding: 0px;
                }     

               .welcome{
                    display: grid;
                    color: #274c97;
                    text-align: center;
                } 
                .textSite{
                    display: grid;
                    width: 95%;
                    height: 90%;
                    color:#274c97;
                    font-size: 18px;
                    text-align: center;
                    overflow:  auto;
                    margin: 0 15px; 
                } 


         .recentProgects{
             display: grid;
             margin:0%;
             margin-top: 25px;
             padding: 0%;
         }           
                 .orangeLine{
                     display: grid;
                     width: 95%;
                     border: 2px solid #f2b529;
                     border-radius: 10px;
                     height: 0px;
                     margin: 0px;
                     padding: 0px;
                 }

                 .codeImg{
                    display: grid;
                    margin-top: 25px;
                    padding: 14px;
                    width: 90%;
                    height: 70%;
                 }   
.blockForm{
    background-color: #f2b529;
    width: 100%;
    margin: 0% auto;
    display: grid;
    
}
     
    .page1{
       
        width: 400px ;
        height: 270px;
        margin: 10px  auto;
        display: grid;
        align-items: center;
    }
            .wrapper{
                display: grid;
                justify-content: space-around;
                display: flex;
                justify-content: space-evenly;
            }
            
                .regist, .button, .button2{ 
                    margin-top: 65px;
                    width: 100px;
                }

    .page2{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .page3{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

            .inputLogin,
            .inputPassword,
            .repeatPassword{
                margin-top: 30px;
                background: whitesmoke;
                width: 250px;
                height: 25px;
                text-align: center;
                opacity: 0.7;
            }
            .buttonPush{
                width: 100px;
                margin-top: 30px;
               

            }

.belarus{
    background-image : url(Belarus.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0% auto;
    display: grid;
}
  
        .rb{
                width: 600px;
                height: 500px;
                margin: 15px auto;
        }

.pazle{
    background-color:  rgb(105, 105, 252);
    width:100%;
    margin: 0% auto;
    display: grid;
    grid-template-columns: 1fr; 
}       
    
        .headPz{
            display: grid;
            justify-content: center;
            width: 100%;
        }
           .head, h1{
               text-align: center;
           }
           .btnStrt{
               width: 100px;
           }

        .bodyPz{
            margin: 15px auto;
            
        }

        .tablePz{
            /* background-color: lime; */
            border-top: 4px solid gray;
            border-left: 4px solid gray;
            border-right: 4px solid black;
            border-bottom: 4px solid black;
        }

        tr{
            border: 1px solid black;
            margin: 0;
            padding: 0;
            box-sizing: border-box
         }
         td {
             border: 1px solid black;
             width:125px;
             height:182px;
             margin: 0px;
             padding: 0px;
             }
         
          .count { 
             width : 15px;
             height : 20px;
             border : 1px solid black;
             margin : 15px auto;
             text-align: center;
          }
         
          .classImg{
            display: block;
            padding: 0px;
            margin: 0px;
            width: 125px;
            height: 182px;
            } 


 @media only screen and (max-width: 992px){

    .siteHeader{ 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 32px 50px auto;
    }
    
     .menu,.menuWeb, .web, .main, .mainImg, .menuButton{
        height: 30px;
     }
     
     .myProgectsImg{
         width: 70% ;
     }

     .myVideoImg{
         width: 67%;
     }
      
     .aboutMyselfImg{
         width: 87%;
     }


     .greenLine{
        margin: 0%;
        padding: 0%;
    }
    .skilsImg{
        margin-top: 15px;
        padding: 0%;
    }

     .welcome{
         height: 80px;
         font-size: 12px;
     }

     .codeImg{
        margin-top: 15px;
        padding: 14px;
        width: 90%;
        height: auto;
    }
 

    .rb{
        width: 600px;
        height: 500px;
        margin: 15px auto;
    }
}
 @media only screen and (max-width: 768px){
    #site{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 485px 400px 540px;
    }
    .siteHeader{
        display: grid;
        grid-template-rows: 25px 25px 32px 400px ;
    }
        .menu,.menuWeb, .web, .main, .mainImg, .menuButton{
            height: 32px;
        }

        .Pavel{
        width: 65px;
        }

        .web{
          height: 25px;
        }

        .studio{
            width:35% ;
        }
            
                .myProgectsImg{
                    width: 80% ;
                }

                .myVideoImg{
                    width: 77%;
                }
                
                .aboutMyselfImg{
                    width: 97%;
                }

        .block{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 15px;
        }

        .skils{
           display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: 10px 375px;
        }
                .greenLine{
                    margin: 0%;
                    padding: 0%;
                }
                .skilsImg{
                    display: grid;
                    margin-top: 15px;
                    width: 90%;
                    height: 85%;
                }

        .thisSite{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 10px 55px auto;
        }
 
                .blueLine{
                    margin: 0%;
                    padding: 0%;
                }

                .welcome{
                    display: grid;
                    margin-top: 15px;         
                }

        .recentProgects{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 10px 375px;
        }        
      
                .orangeLine{
                    margin: 0%;
                    padding: 0%;
                }

                .codeImg{
                    display: grid;
                    margin: 0%;
                    width: 90%;
                    height: 85%;
        }
    .blockForm{
        margin-top: 20px; 
        
    }

    .page1{
        margin: 10px auto;
    }

    .belarus{
        margin-top: 0%;
        padding: 0%;
    }

   
 }

@media only screen and (max-width: 540px){
    #site{
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(3, 1840px 370px 1fr);
    }

        .siteHeader {
            grid-template-columns: 1fr ;
            grid-template-rows: repeat(4, 35px 25px 280px 1510px );
            margin: 0%;
        }
    
            .siteHeader .head{
                grid-template-columns: 30px;
            }

            .siteHeader .pavelDiv {
                grid-template-columns: 20%;
                margin-left: 10%;
            }

            .siteHeader .menu{
                grid-template-columns:100%;
                grid-template-rows: repeat(5, auto);
                margin-left: 10%;
                height: 280px;
            }
            .menuWeb{
                width: 30%;
                height: 42px;
            }
 
            .web, .studio{
                height: 20px;
            } 

            .web,.main, .mainImg, .menuButton{
                width: 30%;
                height: 42px ;
            }

            .myVideoImg{
                width: 69%;
            }
            .main{
                margin-top: 52px;
            }

            .siteHeader .block{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, auto);
            }

            .greenLine, .blueLine, .orangeLine{
                margin: 0 auto;
            }     
            .skilsImg{
                margin: 10px auto;
                width: 450px;  
            }
            
            .welcome{
                margin-top: 30px;
            }

            .textSite{
                margin: 0 auto;
                width: 75% ;
                height: 220px;
            }

            .codeImg{
                margin: 10px auto;
                width: 450px;
                height: auto;  
            }

            .blockForm{
                margin-top: 0%; 
                height: 370px;
            }

            .belarus{
                margin-top: 0%;
            }
        }

@media only screen and (max-width: 455px){
   
    .menuWeb{
        width: 40%;
        height: auto;
        
      }
       .web,.main, .mainImg, .menuButton{
          width: 40%;
          height: 40px ;
      }
      .main{
        margin-top: 25px;
      }
     
}